Repository opendilab/DI-engine, pull requests merged in 2021-07, with the labels that each got.

#6 adapt unittest to github actions
  .coveragerc
  .github/workflows/platform_test.yml
  .github/workflows/unit_test.yml
  Makefile
  ding/entry/tests/test_parallel_entry.py
  ding/entry/tests/test_serial_entry_reward_model.py
  ding/envs/env/tests/test_base_env.py
  ding/envs/env_manager/tests/test_subprocess_env_manager.py
  ding/rl_utils/tests/test_ppg.py
  ding/torch_utils/checkpoint_helper.py
  ding/utils/data/tests/test_cache.py
  ding/utils/data/tests/test_dataloader.py
  ding/utils/tests/test_default_helper.py
  ding/worker/collector/comm/flask_fs_collector.py
  ding/worker/collector/comm/tests/test_collector_with_coordinator.py
  ding/worker/replay_buffer/tests/test_advanced_buffer.py
Labels: test

#8 badge(hansbug): add LoC and Documentation Percentage badge to README.…
  .github/workflows/badge.yml
  README.md
  cloc.sh
Labels: documentation

#10 refactor output structure
  .gitignore
  ding/config/config.py
  ding/config/tests/test_config_formatted.py
  ding/config/utils.py
  ding/entry/serial_entry.py
  ding/entry/serial_entry_il.py
  ding/entry/serial_entry_reward_model.py
  ding/worker/collector/base_parallel_collector.py
  ding/worker/collector/base_serial_evaluator.py
  ding/worker/collector/episode_serial_collector.py
  ding/worker/collector/sample_serial_collector.py
  ding/worker/collector/tests/fake_cpong_dqn_config.py
  ding/worker/coordinator/base_parallel_commander.py
  ding/worker/coordinator/coordinator.py
  ding/worker/coordinator/one_vs_one_parallel_commander.py
  ding/worker/coordinator/solo_parallel_commander.py
  ding/worker/coordinator/tests/conftest.py
  ding/worker/learner/base_learner.py
  ding/worker/learner/comm/base_comm_learner.py
  ding/worker/learner/comm/flask_fs_learner.py
  ding/worker/learner/learner_hook.py
  ding/worker/learner/tests/test_base_learner.py
  ding/worker/replay_buffer/advanced_buffer.py
  ding/worker/replay_buffer/base_buffer.py
  ding/worker/replay_buffer/naive_buffer.py
  ding/worker/replay_buffer/tests/test_advanced_buffer.py
  ding/worker/replay_buffer/tests/test_naive_buffer.py
  dizoo/atari/config/parallel/qbert_dqn_config.py
  dizoo/atari/config/parallel/qbert_dqn_config_k8s.py
  dizoo/classic_control/bitflip/config/bitflip_her_dqn_config.py
  dizoo/classic_control/bitflip/config/bitflip_pure_dqn_config.py
  dizoo/classic_control/bitflip/entry/bitflip_dqn_main.py
  dizoo/classic_control/cartpole/config/cartpole_a2c_config.py
  dizoo/classic_control/cartpole/config/cartpole_c51_config.py
  dizoo/classic_control/cartpole/config/cartpole_dqn_config.py
  dizoo/classic_control/cartpole/config/cartpole_ppg_config.py
  dizoo/classic_control/cartpole/config/cartpole_ppo_config.py
  dizoo/classic_control/cartpole/config/cartpole_ppo_config_loader.py
  dizoo/classic_control/cartpole/config/cartpole_ppo_rnd_config.py
  dizoo/classic_control/cartpole/config/parallel/cartpole_dqn_config.py
  dizoo/classic_control/cartpole/config/parallel/cartpole_dqn_config_k8s.py
  dizoo/classic_control/cartpole/entry/cartpole_dqn_main.py
  dizoo/classic_control/cartpole/entry/cartpole_ppg_main.py
  dizoo/classic_control/cartpole/entry/cartpole_ppo_main.py
  dizoo/classic_control/cartpole/entry/cartpole_ppo_rnd_main.py
  dizoo/classic_control/pendulum/config/pendulum_td3_config.py
  dizoo/classic_control/pendulum/entry/pendulum_td3_main.py
Labels: enhancement, parallel-dist, serial

#13 minigrid env
  ding/envs/env/base_env.py
  ding/envs/env_manager/subprocess_env_manager.py
  ding/policy/ppo.py
  dizoo/minigrid/__init__.py
  dizoo/minigrid/config/minigrid_ppo_config.py
  dizoo/minigrid/config/minigrid_ppo_rnd_config.py
  dizoo/minigrid/envs/__init__.py
  dizoo/minigrid/envs/minigrid_env.py
  dizoo/minigrid/envs/test_minigrid_env.py
  setup.py
Labels: env

#9 on policy ppo
  ding/envs/common/common_function.py
  ding/model/common/head.py
  ding/model/template/vac.py
  ding/policy/command_mode_policy_instance.py
  ding/policy/common_utils.py
  ding/policy/ppo.py
  ding/rl_utils/__init__.py
  ding/rl_utils/adder.py
  ding/rl_utils/gae.py
  ding/rl_utils/ppo.py
  ding/rl_utils/tests/test_gae.py
  ding/rl_utils/tests/test_ppo.py
  ding/torch_utils/network/nn_module.py
  ding/utils/__init__.py
  ding/utils/default_helper.py
  ding/worker/learner/base_learner.py
  dizoo/classic_control/pendulum/config/pendulum_ppo_config.py
  dizoo/classic_control/pendulum/entry/pendulum_ppo_main.py
  dizoo/mujoco/config/ant_ddpg_default_config.py
  dizoo/mujoco/config/ant_sac_default_config.py
  dizoo/mujoco/config/ant_td3_default_config.py
  dizoo/mujoco/config/halfcheetah_ddpg_default_config.py
  dizoo/mujoco/config/halfcheetah_sac_default_config.py
  dizoo/mujoco/config/halfcheetah_td3_default_config.py
  dizoo/mujoco/config/hopper_ddpg_default_config.py
  dizoo/mujoco/config/hopper_ppo_default_config.py
  dizoo/mujoco/config/hopper_sac_default_config.py
  dizoo/mujoco/config/hopper_td3_default_config.py
  dizoo/mujoco/config/walker2d_ddpg_default_config.py
  dizoo/mujoco/config/walker2d_sac_default_config.py
  dizoo/mujoco/config/walker2d_td3_default_config.py
  dizoo/mujoco/entry/__init__.py
  dizoo/mujoco/entry/mujoco_ppo_main.py
  dizoo/mujoco/envs/mujoco_wrappers.py
Labels: algo, enhancement, serial

#11 add endoro env config. add enduro's ppo,dqn,drdqn,rainbow,impala config.
  ding/model/template/qacd.py
  ding/policy/rainbow.py
  dizoo/atari/config/readme.md
  dizoo/atari/config/serial/enduro/enduro_dqn_config.py
  dizoo/atari/config/serial/enduro/enduro_impala_config.py
  dizoo/atari/config/serial/enduro/enduro_ppo_config.py
  dizoo/atari/config/serial/enduro/enduro_qrdqn_config.py
  dizoo/atari/config/serial/enduro/enduro_rainbow_config.py
  dizoo/atari/envs/atari_env.py
Labels: algo, serial
