Repository opendilab/DI-engine, pull requests merged in 2022-08, with the labels that each got.

#379 feature(lxl): plugin stdim into ppo
  ding/entry/tests/test_serial_entry_onpolicy.py
  ding/policy/command_mode_policy_instance.py
  ding/policy/dqn.py
  ding/policy/ppo.py
  ding/policy/tests/test_stdim.py
  dizoo/atari/config/serial/pong/pong_dqn_stdim_config.py
  dizoo/classic_control/cartpole/config/cartpole_dqn_stdim_config.py
  dizoo/classic_control/cartpole/config/cartpole_ppo_stdim_config.py
  dizoo/minigrid/config/minigrid_onppo_stdim_config.py
Labels: algo

#408 feature(wyh): add PLR algorithm
  README.md
  ding/data/level_replay/level_sampler.py
  ding/data/level_replay/tests/test_level_sampler.py
  ding/entry/serial_entry_plr.py
  ding/worker/collector/sample_serial_collector.py
  dizoo/procgen/entry/bigfish_plr_config.py
  dizoo/procgen/envs/procgen_env.py
Labels: algo

#429 feature(lxy): add video replay in sokoban env and sokoban link in readme
  README.md
  dizoo/sokoban/envs/__init__.py
  dizoo/sokoban/envs/sokoban_env.py
Labels: env

#432 feature(rjy): add meta-world env dockerfile
  docker/Dockerfile.env
Labels: env

#428 test(rjy): modify lunarlander+r2d2 config
  dizoo/box2d/lunarlander/config/lunarlander_r2d2_config.py
Labels: config

#424 feature(cy): add anytrading env
  README.md
  ding/config/config.py
  ding/entry/serial_entry.py
  ding/entry/tests/test_serial_entry_for_anytrading.py
  ding/worker/collector/__init__.py
  ding/worker/collector/base_serial_evaluator.py
  dizoo/gym_anytrading/__init__.py
  dizoo/gym_anytrading/config/__init__.py
  dizoo/gym_anytrading/config/stocks_dqn_config.py
  dizoo/gym_anytrading/envs/README.md
  dizoo/gym_anytrading/envs/__init__.py
  dizoo/gym_anytrading/envs/data/README.md
  dizoo/gym_anytrading/envs/position.png
  dizoo/gym_anytrading/envs/profit.png
  dizoo/gym_anytrading/envs/statemachine.png
  dizoo/gym_anytrading/envs/stocks_env.py
  dizoo/gym_anytrading/envs/test_stocks_env.py
  dizoo/gym_anytrading/envs/trading_env.py
  dizoo/gym_anytrading/worker/__init__.py
  dizoo/gym_anytrading/worker/trading_serial_evaluator.py
Labels: env

#439 style(zjow): pytorch version upgrade to 1.12.1
  ding/torch_utils/optimizer_helper.py
  setup.py
Labels: enhancement

#443 feautre(nyz): add mario demo
  README.md
  ding/config/config.py
  ding/envs/env/ding_env_wrapper.py
  ding/envs/env_manager/base_env_manager.py
  ding/envs/env_manager/subprocess_env_manager.py
  ding/utils/__init__.py
  ding/utils/default_helper.py
  dizoo/mario/__init__.py
  dizoo/mario/mario.gif
  dizoo/mario/mario_dqn_config.py
  dizoo/mario/mario_dqn_example.py
  dizoo/mario/mario_dqn_main.py
  setup.py
Labels: env

#450 feature(whl):add docker file for cityflow
  docker/Dockerfile.env
Labels: env

#455 style(nyz): add project state and datetime in log dir
  ding/config/config.py
  ding/entry/application_entry_drex_collect_data.py
  ding/entry/application_entry_trex_collect_data.py
  ding/entry/tests/test_application_entry_trex_collect_data.py
  ding/entry/tests/test_serial_entry_preference_based_irl.py
  ding/entry/tests/test_serial_entry_preference_based_irl_onpolicy.py
  dizoo/classic_control/cartpole/config/cartpole_trex_offppo_config.py
  dizoo/classic_control/cartpole/config/cartpole_trex_onppo_config.py
  docker/Dockerfile.base
  setup.py
Labels: enhancement

#454 fix(zjow): fix base_env FinalMeta bug
  ding/envs/env/base_env.py
Labels: bug, P0

#270 feature(lisong): add IDM for BCO algorithm
  README.md
  ding/entry/__init__.py
  ding/entry/serial_entry_bco.py
  ding/entry/tests/test_serial_entry_bco.py
  ding/model/wrapper/model_wrappers.py
  ding/policy/bc.py
  ding/policy/command_mode_policy_instance.py
  ding/utils/data/__init__.py
  ding/utils/data/dataset.py
  ding/worker/learner/base_learner.py
  ding/world_model/idm.py
  ding/world_model/tests/test_idm.py
  dizoo/box2d/bipedalwalker/config/bipedalwalker_bco_config.py
  dizoo/box2d/lunarlander/config/lunarlander_bco_config.py
  dizoo/classic_control/cartpole/config/cartpole_bco_config.py
  dizoo/mujoco/config/halfcheetah_bco_config.py
  dizoo/mujoco/config/hopper_bco_config.py
Labels: algo
