Repository opendilab/DI-engine, pull requests merged in 2022-03, with the labels that each got.

#232 fix(zjow): Fix the bug of logger width in k8s and that in lower python version 3.6&3.7.
  ding/utils/__init__.py
  ding/utils/logging_rich_config.py
  ding/utils/tests/test_rich_logger_config.py
Labels: bug, enhancement

#231 fixbug(zlx): Add random_action method in envs
  dizoo/atari/envs/atari_env.py
  dizoo/atari/envs/test_atari_env.py
  dizoo/bitflip/envs/bitflip_env.py
  dizoo/bitflip/envs/test_bitfilp_env.py
  dizoo/box2d/bipedalwalker/envs/bipedalwalker_env.py
  dizoo/box2d/bipedalwalker/envs/test_bipedalwalker.py
  dizoo/box2d/lunarlander/envs/lunarlander_env.py
  dizoo/box2d/lunarlander/envs/test_lunarlander_env.py
  dizoo/classic_control/cartpole/envs/cartpole_env.py
  dizoo/classic_control/cartpole/envs/test_cartpole_env.py
  dizoo/classic_control/pendulum/envs/pendulum_env.py
  dizoo/classic_control/pendulum/envs/test_pendulum_env.py
  dizoo/gym_hybrid/envs/gym_hybrid_env.py
  dizoo/gym_hybrid/envs/test_gym_hybrid_env.py
  dizoo/mujoco/envs/mujoco_env.py
  dizoo/mujoco/envs/test_mujoco_env.py
  dizoo/petting_zoo/envs/petting_zoo_env.py
  dizoo/petting_zoo/envs/test_petting_zoo_env.py
Labels: env

#180 polish(pu): polish acer atari config
  dizoo/atari/config/serial/pong/pong_acer_config.py
  dizoo/atari/config/serial/qbert/qbert_acer_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_acer_config.py
Labels: env, algo

#230 feature(nyp): update sqil atari config
  ding/entry/serial_entry_sqil.py
  dizoo/atari/config/serial/pong/__init__.py
  dizoo/atari/config/serial/pong/pong_dqn_config.py
  dizoo/atari/config/serial/pong/pong_sqil_config.py
  dizoo/atari/config/serial/qbert/__init__.py
  dizoo/atari/config/serial/qbert/qbert_sqil_config.py
  dizoo/atari/config/serial/spaceinvaders/__init__.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_sqil_config.py
  dizoo/mujoco/envs/mujoco_env.py
Labels: enhancement

#238 feature(nyp): change wrt the latest config document
  ding/entry/serial_entry_sqil.py
  dizoo/atari/config/serial/pong/pong_dqn_config.py
  dizoo/atari/config/serial/pong/pong_sqil_config.py
  dizoo/atari/config/serial/qbert/qbert_sqil_config.py
  dizoo/atari/config/serial/spaceinvaders/__init__.py
  dizoo/atari/config/serial/spaceinvaders/c51_f1/config.py
  dizoo/atari/config/serial/spaceinvaders/iqn_f1/config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_a2c_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_c51_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_dqfd_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_dqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_dqn_config_multi_gpu_ddp.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_dqn_config_multi_gpu_dp.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_impala_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_iqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_ppo_offpolicy_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_qrdqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_r2d2_gtrxl_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_r2d2_residual_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_rainbow_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_sqil_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_sql_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_trex_dqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_trex_offppo_config.py
  dizoo/atari/entry/spaceinvaders_dqn_main_multi_gpu_ddp.py
  dizoo/atari/entry/spaceinvaders_dqn_main_multi_gpu_dp.py
Labels: enhancement

#234 feature(nyz): add stochastic dueling network
  ding/model/common/head.py
  ding/model/common/tests/test_head.py
Labels: algo

#228 feature(zlx): add envpool
  .github/workflows/envpool_test.yml
  Makefile
  ding/envs/env_manager/__init__.py
  ding/envs/env_manager/envpool_env_manager.py
  ding/envs/env_manager/tests/test_envpool_env_manager.py
  ding/worker/collector/base_serial_collector.py
  dizoo/atari/config/serial/__init__.py
  dizoo/atari/config/serial/enduro/__init__.py
  dizoo/atari/config/serial/montezuma/__init__.py
  dizoo/atari/config/serial/pong/__init__.py
  dizoo/atari/config/serial/pong/pong_dqn_envpool_config.py
  dizoo/atari/config/serial/spaceinvaders/__init__.py
  dizoo/atari/entry/atari_dqn_main.py
  dizoo/atari/entry/pong_dqn_envpool_main.py
  pytest.ini
  setup.py
Labels: efficiency optimization, env

#239 fix(wyh):SMAC Env and polish all smac configs
  dizoo/smac/config/smac_2c64zg_mappo_config.py
  dizoo/smac/config/smac_2c64zg_masac_config.py
  dizoo/smac/config/smac_2c64zg_qmix_config.py
  dizoo/smac/config/smac_2s3z_qmix_config.py
  dizoo/smac/config/smac_2s3z_qtran_config.py
  dizoo/smac/config/smac_3m_masac_config.py
  dizoo/smac/config/smac_3s5z_collaq_config.py
  dizoo/smac/config/smac_3s5z_coma_config.py
  dizoo/smac/config/smac_3s5z_mappo_config.py
  dizoo/smac/config/smac_3s5z_masac_config.py
  dizoo/smac/config/smac_3s5z_qmix_config.py
  dizoo/smac/config/smac_3s5z_qtran_config.py
  dizoo/smac/config/smac_3s5z_wqmix_config.py
  dizoo/smac/config/smac_3s5zvs3s6z_mappo_config.py
  dizoo/smac/config/smac_3s5zvs3s6z_masac_config.py
  dizoo/smac/config/smac_5m6m_collaq_config.py
  dizoo/smac/config/smac_5m6m_mappo_config.py
  dizoo/smac/config/smac_5m6m_masac_config.py
  dizoo/smac/config/smac_5m6m_qmix_config.py
  dizoo/smac/config/smac_5m6m_qtran_config.py
  dizoo/smac/config/smac_5m6m_wqmix_config.py
  dizoo/smac/config/smac_MMM2_collaq_config.py
  dizoo/smac/config/smac_MMM2_coma_config.py
  dizoo/smac/config/smac_MMM2_mappo_config.py
  dizoo/smac/config/smac_MMM2_masac_config.py
  dizoo/smac/config/smac_MMM2_qmix_config.py
  dizoo/smac/config/smac_MMM2_wqmix_config.py
  dizoo/smac/config/smac_MMM_collaq_config.py
  dizoo/smac/config/smac_MMM_coma_config.py
  dizoo/smac/config/smac_MMM_mappo_config.py
  dizoo/smac/config/smac_MMM_masac_config.py
  dizoo/smac/config/smac_MMM_qmix_config.py
  dizoo/smac/config/smac_MMM_qtran_config.py
  dizoo/smac/config/smac_MMM_wqmix_config.py
  dizoo/smac/envs/smac_env.py
Labels: env

#240 polish(pu): polish minigrid and multiagent_mujoco env and config
  ding/envs/env_manager/subprocess_env_manager.py
  dizoo/minigrid/config/fourroom_icm_config.py
  dizoo/minigrid/config/minigrid_icm_config.py
  dizoo/minigrid/config/minigrid_ngu_config.py
  dizoo/minigrid/config/minigrid_offppo_config.py
  dizoo/minigrid/config/minigrid_onppo_config.py
  dizoo/minigrid/config/minigrid_ppo_config.py
  dizoo/minigrid/config/minigrid_r2d2_config.py
  dizoo/minigrid/config/minigrid_rnd_config.py
  dizoo/minigrid/envs/minigrid_env.py
  dizoo/multiagent_mujoco/config/ant_masac_config.py
  dizoo/multiagent_mujoco/envs/multi_mujoco_env.py
Labels: env

#248 fix(nyz): fix auto_reset=False and env_ref bug in env manager
  ding/envs/env_manager/base_env_manager.py
  ding/envs/env_manager/envpool_env_manager.py
  ding/envs/env_manager/subprocess_env_manager.py
  ding/envs/env_manager/tests/conftest.py
  ding/envs/env_manager/tests/test_base_env_manager.py
  ding/envs/env_manager/tests/test_subprocess_env_manager.py
  dizoo/atari/entry/pong_dqn_envpool_main.py
Labels: bug

#252 polish(xjx): polish pendulum config
  dizoo/classic_control/pendulum/config/pendulum_cql_config.py
  dizoo/classic_control/pendulum/config/pendulum_d4pg_config.py
  dizoo/classic_control/pendulum/config/pendulum_ddpg_config.py
  dizoo/classic_control/pendulum/config/pendulum_ppo_config.py
  dizoo/classic_control/pendulum/config/pendulum_sac_config.py
  dizoo/classic_control/pendulum/config/pendulum_sac_data_generation_default_config.py
  dizoo/classic_control/pendulum/config/pendulum_td3_bc_config.py
  dizoo/classic_control/pendulum/config/pendulum_td3_config.py
  dizoo/classic_control/pendulum/config/pendulum_td3_data_generation_config.py
Labels: config

#255 polish(lisong): polish pomdp config
  dizoo/pomdp/config/pomdp_dqn_config.py
  dizoo/pomdp/config/pomdp_ppo_config.py
  dizoo/pomdp/entry/__init__.py
  dizoo/pomdp/envs/atari_env.py
Labels: config

#249 polish (davide): Polish config davide
  dizoo/bsuite/config/serial/cartpole_swingup/cartpole_swingup_0_dqn_config.py
  dizoo/bsuite/config/serial/memory_len/memory_len_0_a2c_config.py
  dizoo/bsuite/config/serial/memory_len/memory_len_0_dqn_config.py
  dizoo/bsuite/config/serial/memory_len/memory_len_15_r2d2_config.py
  dizoo/bsuite/config/serial/memory_len/memory_len_15_r2d2_gtrxl_config.py
  dizoo/bsuite/entry/__init__.py
  dizoo/bsuite/entry/cartpole_swingup/cartpole_swingup_0_dqn_main.py
  dizoo/bsuite/entry/memory_len/memory_len_0_dqn_main.py
  dizoo/mujoco/config/__init__.py
  dizoo/mujoco/config/ant_ddpg_config.py
  dizoo/mujoco/config/ant_onppo_config.py
  dizoo/mujoco/config/ant_ppo_config.py
  dizoo/mujoco/config/ant_ppo_default_config.py
  dizoo/mujoco/config/ant_sac_config.py
  dizoo/mujoco/config/ant_td3_config.py
  dizoo/mujoco/config/ant_trex_onppo_config.py
  dizoo/mujoco/config/ant_trex_sac_config.py
  dizoo/mujoco/config/halfcheetah_ppo_default_config.py
  dizoo/mujoco/config/walker2d_ppo_default_config.py
  dizoo/mujoco/config/walker2d_trex_onppo_default_config.py
Labels: config
