Repository opendilab/DI-engine, pull requests merged in 2022-04, with the labels that each got.

#256 style(nyz): add grf docker
  .github/workflows/deploy.yml
  Dockerfile.env
Labels: env

#258 polish(pu): add observation_space, action_space and reward_space property for gfootball_env
  dizoo/gfootball/envs/gfootball_env.py
Labels: env

#261 polish(zms): polish box2d(bipedalwaker) config
  ding/entry/serial_entry_gail.py
  dizoo/box2d/bipedalwalker/__init__.py
  dizoo/box2d/bipedalwalker/config/__init__.py
  dizoo/box2d/bipedalwalker/config/bipedalwalker_ppo_config.py
  dizoo/box2d/bipedalwalker/config/bipedalwalker_sac_config.py
  dizoo/box2d/bipedalwalker/config/bipedalwalker_sac_gail_config.py
  dizoo/box2d/bipedalwalker/config/bipedalwalker_td3_config.py
Labels: config

#279 fix(nyp): fix share_memory bug and multi_mujoco env
  ding/envs/env_manager/subprocess_env_manager.py
  dizoo/mujoco/envs/mujoco_env.py
Labels: bug

#276 fix(davide): fix some bugs in GTrXL
  ding/model/wrapper/model_wrappers.py
  ding/policy/r2d2_gtrxl.py
  ding/torch_utils/network/gtrxl.py
  ding/torch_utils/network/tests/test_gtrxl.py
Labels: bug

#275 feature(zlx): env implementation check
  ding/envs/env/__init__.py
  ding/envs/env/env_implementation_check.py
  ding/envs/env/tests/__init__.py
  ding/envs/env/tests/demo_env.py
  ding/envs/env/tests/test_env_implementation_check.py
  dizoo/atari/envs/atari_env.py
  dizoo/classic_control/cartpole/envs/cartpole_env.py
Labels: enhancement, env

#263 polish(whl): polish atari (spaceinvaders) config
  dizoo/atari/config/serial/spaceinvaders/c51_f1/config.py
  dizoo/atari/config/serial/spaceinvaders/iqn_f1/config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_a2c_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_acer_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_c51_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_dqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_dqn_config_multi_gpu_ddp.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_dqn_config_multi_gpu_dp.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_impala_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_iqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_offppo_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_onppo_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_ppg_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_qrdqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_r2d2_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_r2d2_gtrxl_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_r2d2_residual_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_rainbow_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_sql_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_trex_dqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_trex_offppo_config.py
Labels: config

#280 polish(pu): polish petting_zoo env and config
  ding/envs/env_manager/subprocess_env_manager.py
  ding/rl_utils/adder.py
  dizoo/multiagent_mujoco/config/ant_masac_config.py
  dizoo/multiagent_mujoco/envs/multi_mujoco_env.py
  dizoo/petting_zoo/config/ptz_simple_spread_atoc_config.py
  dizoo/petting_zoo/config/ptz_simple_spread_collaq_config.py
  dizoo/petting_zoo/config/ptz_simple_spread_coma_config.py
  dizoo/petting_zoo/config/ptz_simple_spread_mappo_config.py
  dizoo/petting_zoo/config/ptz_simple_spread_qmix_config.py
  dizoo/petting_zoo/config/ptz_simple_spread_qtran_config.py
  dizoo/petting_zoo/config/ptz_simple_spread_vdn_config.py
  dizoo/petting_zoo/config/ptz_simple_spread_wqmix_config.py
  dizoo/petting_zoo/envs/petting_zoo_env.py
Labels: env, config

#286 polish(nyz): polish config and env (overcooked, slime_volley, league_demo)
  ding/envs/common/env_element.py
  ding/envs/env/__init__.py
  ding/envs/env/base_env.py
  ding/envs/env_manager/gym_vector_env_manager.py
  ding/envs/env_manager/tests/conftest.py
  ding/model/common/encoder.py
  ding/model/template/vac.py
  ding/policy/ppo.py
  ding/reward_model/trex_reward_model.py
  ding/torch_utils/__init__.py
  ding/torch_utils/data_helper.py
  ding/worker/collector/tests/speed_test/fake_env.py
  ding/worker/collector/tests/test_marine_parallel_collector.py
  dizoo/atari/envs/atari_env.py
  dizoo/bitflip/envs/bitflip_env.py
  dizoo/box2d/bipedalwalker/envs/bipedalwalker_env.py
  dizoo/box2d/lunarlander/envs/lunarlander_env.py
  dizoo/bsuite/envs/bsuite_env.py
  dizoo/classic_control/cartpole/envs/cartpole_env.py
  dizoo/classic_control/pendulum/envs/pendulum_env.py
  dizoo/gym_hybrid/envs/gym_hybrid_env.py
  dizoo/league_demo/league_demo_ppo_config.py
  dizoo/league_demo/league_demo_ppo_main.py
  dizoo/league_demo/selfplay_demo_ppo_config.py
  dizoo/league_demo/selfplay_demo_ppo_main.py
  dizoo/minigrid/envs/minigrid_env.py
  dizoo/mujoco/envs/mujoco_env.py
  dizoo/mujoco/envs/mujoco_model_env.py
  dizoo/multiagent_mujoco/envs/multi_mujoco_env.py
  dizoo/overcooked/config/overcooked_demo_ppo_config.py
  dizoo/overcooked/config/overcooked_ppo_config.py
  dizoo/overcooked/entry/overcooked_selfplay_ppo_main.py
  dizoo/overcooked/envs/overcooked_env.py
  dizoo/overcooked/envs/test_overcooked_env.py
  dizoo/overcooked/models/overcooked_vac.py
  dizoo/petting_zoo/envs/petting_zoo_env.py
  dizoo/pomdp/envs/atari_env.py
  dizoo/slime_volley/config/slime_volley_league_ppo_config.py
  dizoo/slime_volley/config/slime_volley_ppo_config.py
  dizoo/slime_volley/envs/slime_volley_env.py
  dizoo/smac/envs/fake_smac_env.py
  setup.py
Labels: env, config

#277 polish(zjow): optimize codes for config file for dizoo/box2d/lunarlander
  dizoo/box2d/lunarlander/config/__init__.py
  dizoo/box2d/lunarlander/config/lunarlander_acer_config.py
  dizoo/box2d/lunarlander/config/lunarlander_cont_ddpg_config.py
  dizoo/box2d/lunarlander/config/lunarlander_cont_td3_config.py
  dizoo/box2d/lunarlander/config/lunarlander_cont_td3_vae_config.py
  dizoo/box2d/lunarlander/config/lunarlander_discrete_sac_config.py
  dizoo/box2d/lunarlander/config/lunarlander_dqfd_config.py
  dizoo/box2d/lunarlander/config/lunarlander_dqn_config.py
  dizoo/box2d/lunarlander/config/lunarlander_dqn_deque_config.py
  dizoo/box2d/lunarlander/config/lunarlander_dqn_gail_config.py
  dizoo/box2d/lunarlander/config/lunarlander_gcl_config.py
  dizoo/box2d/lunarlander/config/lunarlander_ngu_config.py
  dizoo/box2d/lunarlander/config/lunarlander_offppo_config.py
  dizoo/box2d/lunarlander/config/lunarlander_qrdqn_config.py
  dizoo/box2d/lunarlander/config/lunarlander_r2d2_config.py
  dizoo/box2d/lunarlander/config/lunarlander_r2d2_gtrxl_config.py
  dizoo/box2d/lunarlander/config/lunarlander_r2d3_ppoexpert_config.py
  dizoo/box2d/lunarlander/config/lunarlander_r2d3_r2d2expert_config.py
  dizoo/box2d/lunarlander/config/lunarlander_rnd_onppo_config.py
  dizoo/box2d/lunarlander/config/lunarlander_sqil_config.py
  dizoo/box2d/lunarlander/config/lunarlander_sql_config.py
  dizoo/box2d/lunarlander/config/lunarlander_trex_dqn_config.py
  dizoo/box2d/lunarlander/config/lunarlander_trex_offppo_config.py
Labels: config

#241 test(lwq): polish and test gym_vector_env_manager
  ding/envs/env_manager/gym_vector_env_manager.py
  ding/envs/env_manager/tests/conftest.py
  ding/envs/env_manager/tests/test_gym_vector_env_manager.py
Labels: test

#281 feature(pu): add gfootball academy env and config
  ding/model/template/mavac.py
  ding/policy/policy_factory.py
  dizoo/gfootball/config/gfootball_counter_mappo_config.py
  dizoo/gfootball/config/gfootball_counter_masac_config.py
  dizoo/gfootball/config/gfootball_keeper_mappo_config.py
  dizoo/gfootball/config/gfootball_keeper_masac_config.py
  dizoo/gfootball/envs/gfootball_academy_env.py
  dizoo/gfootball/envs/gfootball_env.py
  dizoo/gfootball/envs/tests/test_env_gfootball_academy.py
Labels: env, config

#293 fix(crb): fix mdpolicy random collect bug
  ding/policy/policy_factory.py
Labels: bug

#288 fix(pu): fix data type and deepcopy bug in RND
  ding/entry/__init__.py
  ding/entry/cli.py
  ding/entry/serial_entry_gail.py
  ding/entry/serial_entry_guided_cost.py
  ding/entry/serial_entry_ngu.py
  ding/entry/serial_entry_preference_based_irl.py
  ding/entry/serial_entry_preference_based_irl_onpolicy.py
  ding/entry/serial_entry_reward_model_offpolicy.py
  ding/entry/serial_entry_reward_model_onpolicy.py
  ding/entry/tests/config/agconfig.yaml
  ding/entry/tests/config/k8s-config.yaml
  ding/entry/tests/test_random_collect.py
  ding/entry/tests/test_serial_entry_algo.py
  ding/entry/tests/test_serial_entry_preference_based_irl.py
  ding/entry/tests/test_serial_entry_preference_based_irl_onpolicy.py
  ding/entry/tests/test_serial_entry_reward_model.py
  ding/reward_model/base_reward_model.py
  ding/reward_model/gail_irl_model.py
  ding/reward_model/guided_cost_reward_model.py
  ding/reward_model/icm_reward_model.py
  ding/reward_model/ngu_reward_model.py
  ding/reward_model/pdeil_irl_model.py
  ding/reward_model/pwil_irl_model.py
  ding/reward_model/red_irl_model.py
  ding/reward_model/rnd_reward_model.py
  ding/reward_model/tests/test_gail_irl_model.py
  ding/reward_model/trex_reward_model.py
  ding/utils/data/collate_fn.py
  dizoo/atari/config/serial/montezuma/montezuma_ngu_config.py
  dizoo/atari/config/serial/pong/pong_ngu_config.py
  dizoo/atari/config/serial/pong/pong_ppo_offpolicy_icm.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_trex_dqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_trex_offppo_config.py
  dizoo/box2d/lunarlander/config/lunarlander_ngu_config.py
  dizoo/box2d/lunarlander/config/lunarlander_rnd_onppo_config.py
  dizoo/box2d/lunarlander/config/lunarlander_trex_dqn_config.py
  dizoo/box2d/lunarlander/config/lunarlander_trex_offppo_config.py
  dizoo/box2d/lunarlander/envs/lunarlander_env.py
  dizoo/classic_control/cartpole/config/cartpole_gcl_config.py
  dizoo/classic_control/cartpole/config/cartpole_ngu_config.py
  dizoo/classic_control/cartpole/config/cartpole_ppo_icm_config.py
  dizoo/classic_control/cartpole/config/cartpole_rnd_onppo_config.py
  dizoo/classic_control/cartpole/entry/cartpole_ppo_rnd_main.py
  dizoo/minigrid/config/minigrid_icm_offppo_config.py
  dizoo/minigrid/config/minigrid_ngu_config.py
  dizoo/minigrid/config/minigrid_rnd_onppo_config.py
  dizoo/mujoco/config/ant_trex_onppo_config.py
  dizoo/mujoco/config/ant_trex_sac_config.py
  dizoo/mujoco/config/halfcheetah_trex_onppo_config.py
  dizoo/mujoco/config/halfcheetah_trex_sac_config.py
  dizoo/mujoco/config/hopper_trex_onppo_config.py
  dizoo/mujoco/config/hopper_trex_sac_config.py
  dizoo/mujoco/config/walker2d_trex_onppo_config.py
  dizoo/mujoco/config/walker2d_trex_sac_config.py
  dizoo/mujoco/entry/mujoco_trex_main.py
Labels: bug, algo

#284 test(lxl): add buffer benchmark & socket test
  .coveragerc
  ding/scripts/tests/test_parallel_socket.py
  ding/scripts/tests/test_parallel_socket.sh
  ding/worker/buffer/tests/test_benchmark.py
Labels: test

#292 optim(davide): GTrXL attention speedup
  .gitignore
  ding/torch_utils/network/gtrxl.py
  dizoo/classic_control/cartpole/config/cartpole_r2d2_gtrxl_config.py
Labels: efficiency optimization

#290 polish(lwq): polish enduro and qbert config, delete montezuma
  dizoo/atari/config/serial/__init__.py
  dizoo/atari/config/serial/enduro/__init__.py
  dizoo/atari/config/serial/enduro/enduro_dqn_config.py
  dizoo/atari/config/serial/enduro/enduro_impala_config.py
  dizoo/atari/config/serial/enduro/enduro_onppo_config.py
  dizoo/atari/config/serial/enduro/enduro_qrdqn_config.py
  dizoo/atari/config/serial/enduro/enduro_rainbow_config.py
  dizoo/atari/config/serial/montezuma/__init__.py
  dizoo/atari/config/serial/montezuma/montezuma_ngu_config.py
  dizoo/atari/config/serial/montezuma/montezuma_r2d2_config.py
  dizoo/atari/config/serial/qbert/__init__.py
  dizoo/atari/config/serial/qbert/c51_f1/config.py
  dizoo/atari/config/serial/qbert/c51_f2/config.py
  dizoo/atari/config/serial/qbert/iqn_f1/config.py
  dizoo/atari/config/serial/qbert/qbert_a2c_config.py
  dizoo/atari/config/serial/qbert/qbert_acer_config.py
  dizoo/atari/config/serial/qbert/qbert_c51_config.py
  dizoo/atari/config/serial/qbert/qbert_cql_config.py
  dizoo/atari/config/serial/qbert/qbert_dqfd_config.py
  dizoo/atari/config/serial/qbert/qbert_dqn_config.py
  dizoo/atari/config/serial/qbert/qbert_impala_config.py
  dizoo/atari/config/serial/qbert/qbert_iqn_config.py
  dizoo/atari/config/serial/qbert/qbert_offppo_config.py
  dizoo/atari/config/serial/qbert/qbert_onppo_config.py
  dizoo/atari/config/serial/qbert/qbert_ppg_config.py
  dizoo/atari/config/serial/qbert/qbert_qrdqn_config.py
  dizoo/atari/config/serial/qbert/qbert_qrdqn_generation_data_config.py
  dizoo/atari/config/serial/qbert/qbert_r2d2_config.py
  dizoo/atari/config/serial/qbert/qbert_r2d2_config_2.py
  dizoo/atari/config/serial/qbert/qbert_r2d2_gtrxl_config.py
  dizoo/atari/config/serial/qbert/qbert_rainbow_config.py
  dizoo/atari/config/serial/qbert/qbert_sqil_config.py
  dizoo/atari/config/serial/qbert/qbert_sql_config.py
  dizoo/atari/config/serial/qbert/qbert_trex_dqn_config.py
  dizoo/atari/config/serial/qbert/qbert_trex_offppo_config.py
Labels: config

#296 fix(zjow): fixing difficulty in logging large tabulate in k8s terminal
  ding/utils/log_helper.py
  ding/utils/logging_rich_config.py
Labels: bug, enhancement, P2

#257 feature(xjx): add unroll_len on buffer
  ding/data/buffer/buffer.py
  ding/data/buffer/deque_buffer.py
  ding/data/buffer/tests/test_buffer.py
Labels: enhancement

#301 test(lxl&zms): add middleware unittest
  .coveragerc
  ding/data/buffer/tests/test_benchmark.py
  ding/framework/__init__.py
  ding/framework/middleware/tests/__init__.py
  ding/framework/middleware/tests/mock_for_test.py
  ding/framework/middleware/tests/test_advantage_estimator.py
  ding/framework/middleware/tests/test_ckpt_handler.py
  ding/framework/middleware/tests/test_collector.py
  ding/framework/middleware/tests/test_data_processor.py
  ding/framework/middleware/tests/test_enhancer.py
  ding/framework/middleware/tests/test_evaluator.py
  ding/framework/middleware/tests/test_explorer.py
  ding/framework/middleware/tests/test_trainer.py
Labels: test

#302 polish(nyz): remove DI-star requirements of dizoo/smac
  dizoo/smac/README.md
  dizoo/smac/envs/smac_env.py
  dizoo/smac/envs/smac_map.py
  setup.py
Labels: env
