Repository opendilab/DI-engine, pull requests merged in 2022-07, with the labels that each got.

#354 fix(xjx): discard message sent by self in redis mq
  ding/framework/message_queue/nng.py
  ding/framework/message_queue/redis.py
  ding/framework/message_queue/tests/test_redis.py
  ding/framework/middleware/functional/data_processor.py
  ding/framework/middleware/learner.py
  ding/framework/middleware/tests/test_data_processor.py
  ding/framework/parallel.py
Labels: bug

#407 feature(zp): add c51/qrdqn/iqn newpipeline example
  ding/example/c51_nstep.py
  ding/example/iqn_nstep.py
  ding/example/qrdqn_nstep.py
Labels: enhancement

#397 feature(lxy): add sokoban environment
  README.md
  dizoo/sokoban/envs/__init__.py
  dizoo/sokoban/envs/sokoban_env.py
  dizoo/sokoban/envs/sokoban_wrappers.py
  dizoo/sokoban/envs/test_sokoban_env.py
  setup.py
Labels: env

#413 fix(nyz): fix unitest/platform unittest hang and fail problems
  .github/workflows/platform_test.yml
  .github/workflows/unit_test.yml
  ding/entry/tests/test_serial_entry_onpolicy.py
  ding/framework/tests/test_supervisor.py
  ding/utils/data/collate_fn.py
  ding/world_model/ddppo.py
  ding/world_model/tests/test_ddppo.py
  pytest.ini
Labels: bug

#417 style(zjow): update ding mujoco version from 200 to 210 in the docker image.
  docker/Dockerfile.env
Labels: docker

#418 feature(pu): add il and rl demo for gfootball
  ding/config/config.py
  ding/entry/__init__.py
  ding/entry/application_entry.py
  ding/entry/tests/test_serial_entry_bc.py
  ding/policy/bc.py
  ding/torch_utils/network/res_block.py
  dizoo/gfootball/entry/__init__.py
  dizoo/gfootball/entry/gfootball_bc_config.py
  dizoo/gfootball/entry/gfootball_bc_kaggle5th_main.py
  dizoo/gfootball/entry/gfootball_bc_rule_lt0_main.py
  dizoo/gfootball/entry/gfootball_bc_rule_main.py
  dizoo/gfootball/entry/gfootball_dqn_config.py
  dizoo/gfootball/entry/gfootball_il_default_config.py
  dizoo/gfootball/entry/show_dataset.py
  dizoo/gfootball/entry/test_accuracy.py
  dizoo/gfootball/envs/gfootball_academy_env.py
  dizoo/gfootball/envs/gfootball_env.py
  dizoo/gfootball/model/bots/TamakEriFever/football_ikki.py
  dizoo/gfootball/model/bots/__init__.py
  dizoo/gfootball/model/bots/kaggle_5th_place_model.py
  dizoo/gfootball/model/bots/rule_based_bot_model.py
  dizoo/gfootball/model/iql/iql_default_config.yaml
  dizoo/gfootball/model/iql/tests/conftest.py
  dizoo/gfootball/model/iql/tests/test_football_model.py
  dizoo/gfootball/model/q_network/football_q_network.py
  dizoo/gfootball/model/q_network/football_q_network_default_config.py
  dizoo/gfootball/model/q_network/tests/test_football_model.py
Labels: bug, config

#412 test(rjy): test multihead part of FQF
  ding/model/template/tests/test_q_learning.py
  dizoo/box2d/lunarlander/config/lunarlander_c51_config.py
Labels: test
