Repository opendilab/DI-engine, pull requests merged in 2023-02, with the labels that each got.

#577 feature(gry): add acrobot env and dqn config
  README.md
  dizoo/classic_control/acrobot/__init__.py
  dizoo/classic_control/acrobot/acrobot.gif
  dizoo/classic_control/acrobot/config/__init__.py
  dizoo/classic_control/acrobot/config/acrobot_dqn_config.py
  dizoo/classic_control/acrobot/envs/__init__.py
  dizoo/classic_control/acrobot/envs/acrobot_env.py
  dizoo/classic_control/acrobot/envs/test_acrobot_env.py
Labels: env

#573 feature(lxy): add procedure cloning model
  ding/model/template/__init__.py
  ding/model/template/procedure_cloning.py
  ding/model/template/tests/test_procedure_cloning.py
Labels: algo

#575 feature(zc): add carracing in box2d
  README.md
  dizoo/box2d/carracing/__init__.py
  dizoo/box2d/carracing/car_racing.gif
  dizoo/box2d/carracing/config/__init__.py
  dizoo/box2d/carracing/config/carracing_dqn_config.py
  dizoo/box2d/carracing/envs/__init__.py
  dizoo/box2d/carracing/envs/carracing_env.py
  dizoo/box2d/carracing/envs/test_carracing_env.py
Labels: env

#580 feature(nyz): setup evogym docker
  .github/workflows/deploy.yml
  docker/Dockerfile.base
  docker/Dockerfile.env
Labels: docker

#581 feature(nyz): add ppof ch3 demo
  ding/bonus/config.py
  ding/bonus/ppof.py
  ding/envs/env/ding_env_wrapper.py
  ding/envs/env_manager/subprocess_env_manager.py
  ding/envs/env_wrappers/env_wrappers.py
  ding/model/common/__init__.py
  ding/model/common/encoder.py
  ding/model/common/head.py
  ding/policy/ppof.py
  ding/utils/__init__.py
  ding/utils/compression_helper.py
Labels: enhancement

#574 feature(zt): add metadrive-simulator env and related onppo config
  README.md
  dizoo/metadrive/__init__.py
  dizoo/metadrive/config/__init__.py
  dizoo/metadrive/config/metadrive_onppo_config.py
  dizoo/metadrive/config/metadrive_onppo_eval_config.py
  dizoo/metadrive/env/__init__.py
  dizoo/metadrive/env/drive_env.py
  dizoo/metadrive/env/drive_utils.py
  dizoo/metadrive/env/drive_wrapper.py
  dizoo/metadrive/metadrive_env.gif
Labels: env

#591 style(nyz): add d4rl docker
  .github/workflows/deploy.yml
  docker/Dockerfile.env
Labels: env
