Repository opendilab/DI-engine, pull requests merged in 2023-03, with the labels that each got.

#599 fix(psharold): unsqueeze action_args in PDQN when shape is 1
  ding/model/template/pdqn.py
  ding/model/template/tests/test_pdqn.py
Labels: bug, algo

#597 fix(nyz): update ptz to latest version
  ding/envs/env_manager/subprocess_env_manager.py
  dizoo/petting_zoo/envs/petting_zoo_simple_spread_env.py
  setup.py
Labels: env

#589 feature(lxy): modify ppof rewardclip and add atari config
  ding/bonus/config.py
  ding/bonus/ppof.py
  ding/envs/env/default_wrapper.py
  ding/envs/env/ding_env_wrapper.py
Labels: algo, config

#590 feature(gry): add MDQN algorithm
  README.md
  ding/entry/serial_entry.py
  ding/entry/tests/test_serial_entry.py
  ding/entry/tests/test_serial_entry_algo.py
  ding/policy/__init__.py
  ding/policy/command_mode_policy_instance.py
  ding/policy/mdqn.py
  ding/rl_utils/__init__.py
  ding/rl_utils/td.py
  ding/rl_utils/tests/test_td.py
  dizoo/atari/config/serial/__init__.py
  dizoo/atari/config/serial/asterix/__init__.py
  dizoo/atari/config/serial/asterix/asterix_mdqn_config.py
  dizoo/atari/config/serial/enduro/enduro_mdqn_config.py
  dizoo/atari/config/serial/spaceinvaders/spaceinvaders_mdqn_config.py
  dizoo/classic_control/cartpole/config/__init__.py
  dizoo/classic_control/cartpole/config/cartpole_mdqn_config.py
Labels: algo

#451 feature(rjy): add dmc2gym+sac baseline both in state input and pixel input
  ding/framework/middleware/functional/advantage_estimator.py
  ding/model/common/head.py
  ding/model/template/__init__.py
  ding/model/template/qac.py
  ding/model/template/tests/test_qac.py
  ding/policy/sac.py
  dizoo/dmc2gym/config/dmc2gym_sac_pixel_config.py
  dizoo/dmc2gym/config/dmc2gym_sac_state_config.py
  dizoo/dmc2gym/entry/dmc2gym_sac_pixel_main.py
  dizoo/dmc2gym/entry/dmc2gym_sac_state_main.py
  dizoo/dmc2gym/envs/dmc2gym_env.py
  dizoo/dmc2gym/envs/test_dmc2gym_env.py
Labels: algo, config

#514 feature(whl): add PC algorithm
  ding/entry/__init__.py
  ding/entry/serial_entry_pc.py
  ding/model/template/__init__.py
  ding/model/template/bc.py
  ding/model/template/procedure_cloning.py
  ding/model/template/tests/test_procedure_cloning.py
  ding/policy/__init__.py
  ding/policy/pc.py
  ding/utils/__init__.py
  ding/utils/bfs_helper.py
  ding/utils/data/dataset.py
  ding/utils/tests/test_bfs_helper.py
  dizoo/maze/__init__.py
  dizoo/maze/config/maze_bc_config.py
  dizoo/maze/config/maze_pc_config.py
  dizoo/maze/entry/maze_bc_main.py
  dizoo/maze/envs/__init__.py
  dizoo/maze/envs/maze_env.py
  dizoo/maze/envs/test_maze_env.py
Labels: algo

#608 feature(nyz): add PPOF ch4 reward demo suuport
  ding/bonus/config.py
  ding/bonus/ppof.py
  ding/envs/env/ding_env_wrapper.py
  ding/envs/env_wrappers/env_wrappers.py
  ding/framework/middleware/functional/trainer.py
  dizoo/gym_pybullet_drones/envs/gym_pybullet_drones_env.py
  dizoo/metadrive/env/drive_env.py
  dizoo/metadrive/env/drive_wrapper.py
  dizoo/minigrid/envs/minigrid_env.py
  dizoo/rocket/envs/rocket_env.py
  setup.py
Labels: enhancement

#611 polish(gry): polish dqn config
  ding/model/template/q_learning.py
  ding/policy/dqn.py
  dizoo/box2d/lunarlander/config/lunarlander_dqn_deque_config.py
Labels: config

#617 fix(jimmy): fix typo in task
  ding/framework/task.py
Labels: typo
