Repository opendilab/DI-engine, pull requests merged in 2023-09, with the labels that each got.

#667 feature(whl): add tabmwp env and prompt pg policy
  .github/workflows/algo_test.yml
  .github/workflows/envpool_test.yml
  .github/workflows/platform_test.yml
  .github/workflows/unit_test.yml
  README.md
  ding/model/template/__init__.py
  ding/model/template/language_transformer.py
  ding/model/template/tests/test_language_transformer.py
  ding/model/wrapper/model_wrappers.py
  ding/model/wrapper/test_model_wrappers.py
  ding/policy/__init__.py
  ding/policy/command_mode_policy_instance.py
  ding/policy/prompt_pg.py
  dizoo/tabmwp/README.md
  dizoo/tabmwp/__init__.py
  dizoo/tabmwp/benchmark.png
  dizoo/tabmwp/config/tabmwp_pg_config.py
  dizoo/tabmwp/envs/__init__.py
  dizoo/tabmwp/envs/tabmwp_env.py
  dizoo/tabmwp/envs/test_tabmwp_env.py
  dizoo/tabmwp/envs/utils.py
Labels: algo, data

#728 test(luyd): add model test code
  ding/entry/tests/test_serial_entry.py
  ding/example/dt.py
  ding/model/template/__init__.py
  ding/model/template/decision_transformer.py
  ding/model/template/q_learning.py
  ding/model/template/tests/test_acer.py
  ding/model/template/tests/test_bcq.py
  ding/model/template/tests/test_decision_transformer.py
  ding/model/template/tests/test_edac.py
  ding/model/template/tests/test_ngu.py
  ding/model/template/tests/test_q_learning.py
  ding/model/template/tests/test_qtran.py
  ding/model/template/tests/test_vac.py
  ding/model/wrapper/test_model_wrappers.py
  dizoo/atari/entry/atari_dt_main.py
  dizoo/classic_control/pendulum/config/pendulum_pg_config.py
  dizoo/dmc2gym/entry/dmc2gym_onppo_main.py
  dizoo/procgen/entry/coinrun_onppo_main.py
  dizoo/tabmwp/envs/tabmwp_env.py
  dizoo/tabmwp/envs/utils.py
  setup.py
Labels: test

#731 feature(cy): polish anytrading
  dizoo/gym_anytrading/envs/README.md
  dizoo/gym_anytrading/envs/statemachine.png
  dizoo/gym_anytrading/envs/stocks_env.py
Labels: env

#730 feature(zjow): polish ppof agent code for opendilab huggingface
  ding/bonus/config.py
  ding/bonus/ppof.py
  ding/framework/middleware/functional/logger.py
Labels: typo
