Repository opendilab/DI-engine, pull requests merged in 2024-06, with the labels that each got.

#801 polish(zym): optimize ppo continuous act
  ding/model/template/vac.py
  ding/policy/ppo.py
  dizoo/mujoco/config/ant_onppo_config.py
  dizoo/mujoco/config/halfcheetah_onppo_config.py
  dizoo/mujoco/config/hopper_onppo_config.py
  dizoo/mujoco/config/walker2d_onppo_config.py
Labels: config

#805 style(hus): add new badge (hellogithub) in readme
  README.md
Labels: doc

#807 feature(wrh): add taxi env latest version and dqn config
  README.md
  dizoo/taxi/config/taxi_dqn_config.py
  dizoo/taxi/envs/taxi_env.py
  dizoo/taxi/envs/test_taxi_env.py
Labels: config

#811 style(nyz): relax flask requirement
  setup.py
Labels: test
